
a { text-decoration:none; color:#008; font-weight:normal; }
div.popupMenu a.item { color:black; font-weight:normal; }

div.your-ip { color:grey; font-size:0.8em; }
div.menu-panel { color:white; font-size:0.8em; }

